/* @override 
	http://cesarmedrano.com/wp-content/themes/twentytwelve/css/app.css */
	
/*FONT*/
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela'), local('Gabriela-Regular'), url(../font/gabriela/gabriela-regular.woff) format('woff');
}
.gabriela{
	font-family: 'Gabriela', serif;
}
/*FONT*/
/*GENERAL*/
.button{
	border: none;
}
/*GENERAL*/
/*HEADER*/
#h-front-page {
	background-color: #ea1e14;	
	padding: 30px 0 10px;
	color: rgb(255, 255, 255);
}

#globo {
	position: relative;
}

.aling-center{
	text-align: center;
}

#h-front-page h1.gabriela.htext {
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1em;
	font-size: 2em;
}
#main-menu-top, .sub-nav  {
	list-style: none;
}

#main-menu-top li{
	float: left;
	list-style: none;
}
#main-menu-top li a{
	color: rgba(255, 255, 255, .65);
	padding: 10px 30px;
	text-transform: capitalize;
}

#main-menu-top li.current-menu-item a {
	color: rgb(255, 255, 255);
}
.sub-nav li{
	float: left;
}
.sub-nav li a{
	padding: 10px 20px;
}
/*HEADER*/
/*SECTION ONE*/
section#section-one {
	padding: 30px 0;
}
/*SECTION ONE*/
/*POSTPOINT*/
section#postpoint{
	padding: 20px 0;
	background: #f5f5f5 url('../img/project/postpoint/postpoint-bg.png') no-repeat center top;
	height: 700px;
}
section#postpoint img{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
/*POSTPOINT*/
/*PROCESO*/
section#proceso {
	background-color: #41b4f0;
	padding: 30px 0;
	color: rgba(255, 255, 255, .75);
}
section#proceso .columns p{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
section#proceso .columns:hover p{
	color: rgb(255, 255, 255);
}
section#proceso h1{
	color: rgb(255, 255, 255);
	padding: 0 0 20px 0;
}
section#proceso h4{
	color: rgb(255, 255, 255);
}
/*PROCESO*/
/*SECTION FOLLOWME*/
section#followme {
	padding: 30px 0;
	background-color: #f5f5f5;
}
section#followme h1{
	color: rgb(89, 89, 89);
	margin: 0;
}
section#followme h4{
	color: rgba(89, 89, 89, 0.55);
	margin-bottom: 20px;
}
section#followme a img{
	opacity: 0.5;
	border: none;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
section#followme a img:hover{
	opacity: 0.9;
}
section#followme .button{
	background-color: #444444;
}
/*SECTION FOLLOWME*/

/*FOOTER*/
section#footer {
	background-color: #333333;
	padding: 30px 0;
}
/*FOOTER*/
/*CONTACTOS*/
#contactos{
	display: none;
}
/*CONTACTOS*/
/*404*/
#error404{
	padding: 10% 0;
}
/*404*/