body{
	background-color: #ffffff;
	color: #333333;
}
h1{
	color: rgb(75, 75, 75);
}
/*MANTENIMIENTO*/
section#mantenimiento{
	padding: 6% 0;
}
a{
	color: rgba(98, 98, 98, 0.50);
}
a:hover{
	color: rgba(98, 98, 98, 0.7);
}
.follow-panel a img{
	opacity: 0.5;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.follow-panel a img:hover{
	opacity: 0.9;
}
/*MANTENIMIENTO*/